/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-02, 10:00:28
    Author     : kursant2
*/
body {
    font-family: Arial;
}
div {
    border: 2px solid #00ec00;
    padding: 10px 40px; 
    border-radius: 25px;
    
}
#content {
    margin-left: auto;
    margin-right: auto;
    background-color:#eeeeee;
    height:500px;
    width:500px;
    float:none;
    
}
table.b {
    width:300px;
    height:400px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

}
td.b {
    border:1px none;
    border-width:1px 1px 1px 1px;
    text-align:left;
    padding-left:0px;
    font-size:12px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}
h3 {
    text-align: center;
    padding-top: 20px;
}
